In [19]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('tennis.csv')

In [3]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [5]:
df['outlook'].value_counts()

rainy       5
sunny       5
overcast    4
Name: outlook, dtype: int64

In [6]:
#convert category to numerical
from sklearn.preprocessing import LabelEncoder
df=pd.get_dummies(df,columns=['outlook','temp','humidity','windy','play'],drop_first=True)

In [7]:
df.head(3)

,outlook_rainy,outlook_sunny,temp_hot,temp_mild,humidity_normal,windy_True,play_yes
0,0,1,1,0,0,0,0
1,0,1,1,0,0,1,0
2,0,0,1,0,0,0,1

In [8]:
feature=df.drop(columns=['play_yes'],axis=1)
target=df['play_yes']

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2, shuffle=True)

In [10]:
X_train.shape,y_train.shape

((11, 6), (11,))

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
model = LogisticRegression()

model.fit(X_train, y_train)

LogisticRegression()

In [13]:
y_pred=model.predict(X_test)

In [14]:
y_pred

array([1, 1, 1], dtype=uint8)

In [15]:
y_test.values

array([0, 0, 1], dtype=uint8)

In [16]:
y_pred-y_test

5    1
0    1
4    0
Name: play_yes, dtype: uint8

In [17]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r2_score(y_test, y_pred)

-1.9999999999999996

In [20]:
np.sum(y_pred)

3

In [21]:
np.sum(y_test)

1