In [25]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('t-shirts.csv')

In [3]:
df.head()

  Date ordered Order number Brand Size  Color   Design  Price Delivery status
0   2016-05-05      SDH-YU0  Yolo    L    red   spiral  14.47         damaged
1   2016-05-06      SDH-YU1  Yolo  XXL  green   spiral  16.24         delayed
2   2016-05-07      SDH-YU2  BLOT   XL  black  Stripes  14.32       delivered
3   2016-05-08      SDH-YU3  Kent  XXL  green    plain  14.07         damaged
4   2016-05-09      SDH-YU4  BUCK   XL  white   spiral  15.56  order received

In [4]:
df.shape

(500, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date ordered     500 non-null    object
 1   Order number     500 non-null    object
 2   Brand            500 non-null    object
 3   Size             500 non-null    object
 4   Color            500 non-null    object
 5   Design           500 non-null    object
 6   Price            500 non-null    float64
 7   Delivery status  500 non-null    object
dtypes: float64(1), object(7)
memory usage: 31.4+ KB

In [6]:
df['Design'].value_counts()

diamond    117
checked    107
Stripes    106
spiral      89
plain       81
Name: Design, dtype: int64

In [7]:
#convert category to numerical
from sklearn.preprocessing import LabelEncoder
df=pd.get_dummies(df,columns=['Brand','Size','Color','Design'],drop_first=True)

In [8]:
df

,Date ordered,Order number,Price,Delivery status,Brand_BUCK,Brand_Kent,Brand_Wang,Brand_Yolo,Size_M,Size_S,...,Size_XXL,Color_green,Color_indigo,Color_purple,Color_red,Color_white,Design_checked,Design_diamond,Design_plain,Design_spiral
0,2016-05-05,SDH-YU0,14.47,damaged,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2016-05-06,SDH-YU1,16.24,delayed,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,1
2,2016-05-07,SDH-YU2,14.32,delivered,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016-05-08,SDH-YU3,14.07,damaged,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
4,2016-05-09,SDH-YU4,15.56,order received,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2017-09-12,SDH-YU495,15.03,damaged,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
496,2017-09-13,SDH-YU496,14.49,shipping,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
497,2017-09-14,SDH-YU497,15.61,shipping,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
498,2017-09-15,SDH-YU498,13.49,order received,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
499,2017-09-16,SDH-YU499,14.75,shipping,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [9]:
feature=df.drop(columns=['Date ordered','Order number','Price','Delivery status'],axis=1)
target=df['Price']

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2, shuffle=True)

In [11]:
X_train.shape,y_train.shape

((400, 18), (400,))

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression()

In [14]:
y_pred=model.predict(X_test)

In [15]:
y_pred

array([14.83652612, 15.31389342, 14.69682598, 15.11007127, 15.35056985,
       15.25895308, 15.18257986, 15.39361109, 15.04924354, 15.02164855,
       15.16391857, 14.94983868, 14.88854158, 14.66996712, 14.65606393,
       15.40590458, 14.64337922, 15.16665786, 15.26143447, 15.16055691,
       14.67644025, 15.38764733, 15.2728907 , 15.25730684, 15.12304119,
       14.93302528, 15.19292334, 14.96881845, 15.12322865, 15.31389342,
       14.89017313, 15.23368497, 15.3174485 , 14.92208918, 15.12304119,
       15.03598704, 15.15351781, 15.13438321, 15.17611197, 15.4044587 ,
       15.11371322, 15.18257986, 14.82820845, 15.30606253, 14.73866845,
       15.11874192, 14.87673706, 15.03642015, 14.94168119, 14.86965251,
       15.00743396, 15.03811227, 15.09503131, 14.96079735, 15.0145073 ,
       15.44613383, 15.43830875, 14.8291183 , 15.29691858, 15.06347935,
       15.13119927, 15.25191398, 15.17346466, 15.11202362, 15.30354531,
       14.84328502, 14.94172909, 14.88600074, 14.94983868, 15.31848855,
       14.86229013, 14.72634364, 15.26287832, 14.95753056, 14.84641848,
       14.86288009, 15.27258944, 15.12322865, 15.09452717, 14.71024688,
       15.06751588, 14.90766068, 15.01062803, 15.30587232, 15.5599135 ,
       14.47743687, 15.36599491, 15.20484788, 15.52657981, 14.91562129,
       15.26854682, 14.81884359, 14.6057724 , 14.90787455, 14.52713309,
       15.16448215, 14.75951547, 15.57106806, 15.30576127, 14.92347184])

In [16]:
y_test.values

array([14.52, 14.75, 15.5 , 14.6 , 16.16, 15.22, 16.84, 14.91, 14.14,
       12.74, 15.92, 17.29, 13.88, 14.27, 15.54, 14.79, 16.14, 14.09,
       15.25, 16.95, 15.68, 14.43, 15.3 , 16.65, 15.45, 15.21, 14.3 ,
       14.58, 14.14, 13.48, 15.05, 14.4 , 14.86, 15.87, 14.56, 15.57,
       14.04, 14.73, 15.03, 15.22, 13.44, 15.42, 15.7 , 15.26, 13.67,
       17.09, 15.45, 16.05, 16.81, 14.62, 14.74, 14.41, 13.97, 13.08,
       15.28, 15.24, 14.89, 16.2 , 15.25, 15.56, 16.07, 15.04, 15.35,
       15.24, 14.94, 14.13, 15.36, 15.59, 15.12, 15.55, 16.25, 14.43,
       15.18, 13.63, 15.32, 15.38, 14.28, 16.44, 14.26, 15.91, 14.73,
       16.37, 14.93, 13.76, 17.2 , 14.17, 14.83, 16.05, 16.08, 13.58,
       14.49, 14.64, 13.97, 14.28, 14.69, 14.76, 14.96, 13.78, 15.59,
       15.39])

In [17]:
y_pred-y_test

59     0.316526
94     0.563893
339   -0.803174
398    0.510071
167   -0.809430
         ...
35     0.404482
391   -0.200485
431    1.791068
19    -0.284239
427   -0.466528
Name: Price, Length: 100, dtype: float64

In [18]:
from sklearn.metrics import confusion_matrix

In [19]:
#confusion_matrix(y_test,y_pred)

In [20]:
from sklearn.metrics import classification_report

In [21]:
#classification_report(y_test,y_pred)

In [22]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r2_score(y_test, y_pred)

-0.03296837458870261

In [23]:
mean_absolute_error(y_test, y_pred)

0.7524986072510335

In [26]:
np.sum(y_pred)

1506.8475659358553

In [27]:
np.sum(y_test)

1505.9